.shelf-category-container {
  display: flex; 
}

.shelf-category-container:hover {
  box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.2);
}

.shelf-category {
  color: $dark-grey; 
  flex: 1; 
  padding-left: 20px; 
}

.shelf-expand-btn-container {
  width: 10%; 
}

.shelf-expand-btn {
  @include removeButtonDefault();
  width: 70%; 
}

.shelf-expand-icon {
  color: $lime-green;
  height: 90%;
  width: 85%; 
}

.shelf-expand-container {
  overflow: hidden; 
}

.form-add-item {
  display: flex;
  align-items: center; 
  background-color: $dark-grey;
  padding: 10px 0px 10px 30px; 
  margin-top: -100%;
  transition: all 1s; 
}

.form-add-item.expanded {
  margin-top: 0;
}

.form-item-label {
  color: aliceblue; 
  flex: 1; 
}

.form-item-input {
  border-radius: 5px; 
  margin: 5px; 
}

.form-quantity-label {
  color: aliceblue;
}

.form-quantity-input {
  border-radius: 5px; 
  margin: 5px; 
  width: 30%;  
}

.form-add-item-btn {
  @include removeButtonDefault();
  width: 5%; 
}

.form-add-item-icon {
  color: aliceblue; 
  width: 90%;
  height: 90%; 
}

.form-add-item-icon:hover {
  filter:drop-shadow(1px 1px 5px $lime-green); 
}

