.shelf-category-container {
  display: flex; 
}

.shelf-category {
  color: $dark-grey; 
  flex: 1; 
}

.shelf-expand-btn {
  @include removeButtonDefault();
  width: 6%; 
}

.shelf-expand-icon {
  color: $lime-green;
  height: 100%;
  width: 100%; 
}

.form-add-item {
  display: flex; 
}

.form-item-label { 
  flex: 1; 
}

.form-item-input {
  margin: 5px; 
}

.form-quantity-label {
  width: 20%; 
}

.form-quantity-input {
  margin: 5px; 
  width: 30%;  
}

