.statistics-shelf-container {
  flex: 1;
  margin: 10px;   
}

.statistics-shelf-title {
  font-size: 2.8rem; 
  text-align: center;
}

.statistics-shelf-list {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

.statistics-shelf {
  font-size: 2rem;
  padding: 10px;  
}

.statistics-shelf-name { 
  margin-right: 10px;
  font-weight: 600;   
}

.statistics-shelf-oz {
  color: rgb(176, 24, 199);
}

.statistics-shelf-lbs {
  color: rgb(255, 89, 0);
}

@media screen and (max-width: 1000px) {

  .statistics-shelf {
    margin-left: 100px;   
  }
}
