.statistics-shelf-container {
  flex: 1;
  margin: 10px;
  max-height: 400px; 
  overflow: scroll;    
}

.statistics-shelf-title {
  font-size: 2.8rem; 
  text-align: center;
}

.statistics-shelf-list {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

.statistics-shelf {
  @include flexStyle(flex, row, justify-content, space-between); 
  font-size: 2rem;
  padding: 10px;
  border-bottom: thin solid $dark-grey;   
}

.statistics-shelf-name {
  width: 35%;   
  font-weight: 600;   
}

.statistics-shelf-oz {
  width: 25%; 
  color: rgb(176, 24, 199);
}

.statistics-shelf-lbs {
  width: 25%; 
  color: rgb(255, 89, 0);
}

@media screen and (max-width: 1000px) {

  .statistics-shelf {
    @include flexStyle(flex, row, justify-content, space-between)  
  }
}

@media screen and (max-width: 700px) {

  .statistics-shelf-container {
    max-height: 250px; 
  }
}


