.statistics-category-container {
  flex: 1;
  margin: 10px;   
}

.statistics-category-title {
  font-size: 2.8rem; 
  text-align: center;
}

.statistics-category-list {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

.statistics-category {
  font-size: 2rem;
  padding: 10px;  
}

.statistics-category-name { 
  margin-right: 10px;
  font-weight: 600;   
}

.statistics-category-oz {
  color: rgb(176, 24, 199);
}

.statistics-category-lbs {
  color: rgb(255, 89, 0);
}