.App {
  height: 100%; 
}

.header {
  @include flexStyle(flex, row, justify-content, flex-start);
  align-items: center; 
  padding: 20px;
  background-color: $dark-grey; 
}

.header-mountain-btn {
  background: none;
  border: none;
  width: 8%;  
}

.header-mountain-icon {
  width: 100%;
  height: 100%; 
  color: $lime-green; 
}

.header-mountain-icon:hover {
  color:aliceblue;
}

.header-title {
  font-family: 'Abel', sans-serif;
  color: aliceblue;
  font-size: 2.3em;  
}

.header-greeting { 
  font-size: 1.3em; 
  color: aliceblue;
  flex: 1;
  margin-left: 30px;   
}

.header-greeting-green {
  color: $lime-green
}