.shelves { 
  display: flex;
  align-items: stretch;
  overflow: scroll;  
}

.shelves-container {
  width: 70%;  
}

.shelves-intro {
  padding: 20px; 
  font-size: 1.4em;
  font-style:italic;
  font-weight: 600;    
}



