.statistics {
  background-color: $lime-green;
  width: 35%;
  min-height: 100%; 
}

.statistics-container {
  @include flexStyle(flex, column, justify-content, flex-start);  
}

.statistics-totals-container {
  @include flexStyle(flex, column, justify-content, center); 
  position: relative; 
  flex: 1; 
  min-height: 400px;   
  
  &::before {
    @extend .statistics-totals-container; 
    content: "";
    background-image: url("../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
  }
}

.statistics-totals {
  @include flexStyle(flex, row, justify-content, space-evenly);
  list-style-type: none;
  padding: 0px;   
}

.total {
   position: relative;
   font-weight: 700;
   font-size: 3em;
   text-shadow: 1px 1px 3px $white-blue; 
}

.total-ozs {
  color :$dark-green-blue;
}

.total-lbs {
  color: $dark-purple;
}

@media screen and (max-width: 1000px) {

  .statistics {
    width: 100%; 
  }

  .statistics-container {
    flex-direction: row; 
  }
}


@media screen and (max-width: 700px) {

  .statistics-container {
    flex-direction: column; 
  }

  .statistics-totals-container{
    min-height: 300px; 
  }

}



