@mixin flexStyle($display, $direction, $align, $alignValue) {
  display: $display;
  flex-direction: $direction;
  #{$align}: $alignValue;
}

@mixin buttonStyle($backgroundColor, $textColor) {
  border: none; 
  border-radius: 5px; 
  background-color: $backgroundColor;
  color: $textColor;
}

@mixin removeButtonDefault() {
  background: none;
  border: none;
  padding: 0; 
}